/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/outfit-v15-latin-regular.woff2'); 
}
/* outfit-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/outfit-v15-latin-900.woff2');
}

@layer reset {
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1 {
        margin: 0;
        font-size: calc(22 / 16 * 1rem);
        line-height: 120%;
    }
    img {
        width: 100%;
    }
}
@layer colors {
    :root {
        --slate-900: hsl(218, 44%, 22%);
        --slate-500: hsl(216, 15%, 48%);
        --slate-300: hsl(212, 45%, 89%);
        --white: hsl(0, 0%, 100%);

    }
}
@layer typography {
    :root {
        /* Font family*/
        --text-preset-1: 'Outfit';
        /* Font weight */
        --text-bold: 900;
        --text-regular: 400;
    }
}
@layer base {
    body {
        background-color: var(--slate-300);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        max-width: 20rem;
        background-color: var(--white);
        border-radius: 1.25rem;
        padding: 1rem 1rem 2.5rem;
    }
}
@layer elements {
    .qr {
        max-width: 18rem;
        aspect-ratio: 1 / 1;
        border-radius: 0.625rem;
        margin-bottom: 1.5rem;
    }
    .qr-title {
        font-family: 'Outfit', sans-serif;
        font-weight: var(--text-bold);
        color: var(--slate-900);
        text-align: center;
        width: fit-content;
        margin-bottom: 1em;
    }
    .qr-description {
        font-family: 'Outfit';
        font-weight: var(--text-regular);
        color: var(--slate-500);
        text-align: center;
        line-height: 140%;
        letter-spacing: 0.03rem;
        font-size: 1em;
    }
}